.callToAction {
    background: #3A78C9;
    z-index: -1;
    padding-top: 130px;
}

.callToAction .sectionHeading h3,
.callToAction .sectionHeading p {
    color: #fff;
}

.callToAction .globalBtn {
    margin-top: 30px;
    border: 1px solid #fff;
}

.callToAction .globalBtn:hover {
    border: 1px solid #fff;
    background: #fff;
    color: #3A78C9;
}