.gallery .photos{
    margin-top: 20px;
}
.gallery .photos .row {
    width: 30%;
}

.gallery .photos .row figure:hover img{
    transform: scale(1.1);
}
.gallery .photos .row figure:nth-child(2){
    margin-top: 20px;
}
.gallery .photos .row figure {
    display: inline-flex;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.gallery .photos .row figure img {
    width: 100%;
    transition: .5s;
}

.gallery .photos .row:nth-child(2) {
    width: 35%;
    margin: 0 10px;
    display: inline-flex;
}

@media (max-width: 768px) {
    .gallery .photos .row {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }
    .gallery .photos .row:nth-child(2) {
        margin: 20px auto;
        width: 100%;
    }
}
