.discountoffer {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../../Assets/Image/bannerBackground_2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.discountoffer .mainContent .globalBtn {
    margin-top: 20px;
    display: inline-block;
}

.discountoffer .mainContent>div:nth-child(1) {
    width: 50%;
    text-align: left;
    padding-right: 20px;
    margin: auto 0;
}

.discountoffer .mainContent>div:nth-child(1) .sectionHeading {
    text-align: left;
}

.discountoffer .mainContent>div:nth-child(1) .sectionHeading p {
    color: #fff;
}

.discountoffer .mainContent>div:nth-child(1) .sectionHeading h3 {
    color: #fff;
}

.discountoffer .mainContent>div:nth-child(2) {
    width: 50%;
    padding: 20px;
}

.discountoffer .mainContent .image .client img {
    width: 100%;
}

.discountoffer .mainContent .image .client {
    padding: 20px;
    width: 33.33%;
    /* margin-top: 10px; */
}

.discountoffer .mainContent .image .client {
    border: 1px solid rgba(255, 255, 255, 0.356);
    border-right: none;
    border-top: none;
}

.discountoffer .mainContent .image .client:nth-child(3n+1) {
    border-left: none;
}

.discountoffer .mainContent .image .client:nth-child(4) {
    border-bottom: none;
}

.discountoffer .mainContent .image .client:nth-child(5) {
    border-bottom: none;
}

.discountoffer .mainContent .image .client:nth-child(6) {
    border-bottom: none;
}

/* .discountoffer .mainContent .image .client{} */


@media (max-width: 768px) {
    .discountoffer .mainContent {
        flex-direction: column;
    }
    .discountoffer .mainContent>div:nth-child(1){
        text-align: center;
        width: 100%;
        padding-right: 0;
    }
    .discountoffer .mainContent>div:nth-child(2){
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        padding: 0;
        max-width: 450px;
    }
    .discountoffer .mainContent>div:nth-child(1) .sectionHeading {
        text-align: center;
    }
}