* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

li {
  list-style: none;
}

p {
  font-size: .95rem;
}

h2{
  font-size: 4rem;
}
h3{
  font-size: 1rem;
}
h5 {
  font-size: 1rem;
}
h6{
  font-size: .75rem;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.bor {
  border: 1px solid red;
}

.flex {
  display: flex;
}

.alignItemCenter {
  align-items: center;
}

.justifyContentCenter {
  justify-content: center;
}

.justifyContentBetween {
  justify-content: space-between;
}
.flexDirCol{
  flex-direction: column;
}

.colorWhite {
  color: #fff;
}

.globalBtn {
  cursor: pointer;
  color: #fff;
  background: #3A78C9;
  border-radius: 20px;
  padding: 10px 30px;
  border: 1px solid transparent;
  display: inline-block;
  transition: .5s;
}
.globalBtn:hover {
  color: #fff;
  background: #3a78c900;
  border: 1px solid #fff
}

.globalBorderBtn {
  cursor: pointer;
  transition: .5s;
  color: #fff;
  background: transparent;
  border-radius: 20px;
  padding: 10px 30px;
  border: 1px solid #fff;
  display: inline-block;
}
.globalBorderBtn:hover {
  color: #fff;
  background: #3A78C9;
  border: 1px solid transparent;
}

.commonSection{
  width: 100%;
  float: left;
  padding: 80px 0;
}