/* .popular_dest {} */

.popular_dest .cards {
    margin-top: 20px;
}

.popular_dest .globalBtn {
    margin: 0 auto;
    display: inline-block;
    margin-top: 50px;
    padding: 15px 30px;
}

.popular_dest .globalBtn:hover {
    color: #174B90;
    border: 1px solid #174B90;
}

@media (max-width:1024px) {
    .popular_dest .cards{
        flex-wrap: wrap;
    }
    .popular_dest .globalBtn{
        margin-top: 20px;
    }
}